.food-display {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 6vw;
  animation: fadeIn 2s;
}

.food-display h2 {
  font-weight: 500;
  color: #262626;
  font-size: max(2vw, 22px);
  padding-bottom: 10px;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50;
}
